body{
    background-color: #EBECEE;
}
.cabecalho{
display: flex;
justify-content: space-between;
background-color: white;
align-items: center;

}
.container{
    margin: 0px 20px;
    padding: 0.5em;
}
.lista-titulo{
    background-color: var(--branco);
    color: var(--laranja);
}
.menu-hamburguer{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../img/AluraBooks/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.menu-lista{
    display: none;
    position: absolute;
    width: 60vw;

}
.menu-checkbox{
    display: none;
}
.menu-checkbox:checked ~ .menu-lista{
    display: block;
}

.lista-titulo{
    background-color: var(--branco);
    color: var(--laranja);
}
.lista-item{
    padding: 1em;
    background-color:white;
    color: var(--laranja);

}
.banner-pesquisa{
    border: 1px solid white;
    background-color: transparent;
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    background: url(../img/AluraBooks/Pesquisa.svg) no-repeat;
    background-position: 1em;
}